<!-- forgot-password.component.html -->

<div class="background">
    <h2>Forgot Password</h2>
  
    <!-- Step 1: Enter Email -->
    <div class="head" *ngIf="!otpSent">
        <label>Email :- </label>
        <input type="email" [(ngModel)]="email" placeholder="Enter your email">
    <br>

    <small
    class="form-text text-danger"
    *ngIf="submitted && fg.get('email')?.hasError('required')"
  >Email is required</small>
  <small
    class="form-text text-danger"
    *ngIf="submitted && fg.get('email')?.hasError('email')"
  >Invalid email address</small>

        <button type="button" class="btn btn-primary"(click)="forgotPassword()">Send OTP</button>
    </div>
  
    <!-- Step 2: Enter OTP -->
    <div class="head" *ngIf="otpSent && !otpValidationSuccess">
        <label>OTP:</label>
        <input type="text" [(ngModel)]="otp" placeholder="Enter OTP">
        
        <button type="button" class="btn btn-primary"(click)="validateOTP()">Validate OTP</button>

        <small class="form-text text-danger" *ngIf="otp.length !== 6">OTP must be 6 characters long</small>
        
    </div>
  
    <!-- Step 3: Reset Password -->
    <div class="head" *ngIf="otpValidationSuccess">
        <label>New Password :- </label>
        <input type="password" [(ngModel)]="newPassword" placeholder="Enter new password">
        
        <button type="button" class="btn btn-primary"(click)="resetPassword()">Reset Password</button>
    </div>
</div>
