
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 offset-1">
            <div class="card shadow" style="margin-top: 80px; background-color: rgba(24, 16, 16, 0.47);">
                <div class="card-header">
                    <h4>Reset Password</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="fg" (submit)="reset()" novalidate>
                        <div class="form-group">
                           <h5>Email</h5> 
                            <input
                                type="email"
                                formControlName="email"
                                required
                                name="email"
                                placeholder="Ex: jay21@gmail.com"
                                class="form-control"
                            />
                            <small
                                class="form-text text-danger"
                                *ngIf="submitted && !fg.controls['email'].valid"
                            >
                                Email is required
                            </small>
                        </div>
                        <div class="form-group">
                            <h5>New Password</h5> 
                            <input
                                type="password"
                                formControlName="password"
                                required
                                name="password"
                                placeholder="***********"
                                class="form-control"
                            />
                            <small
                                class="form-text text-danger"
                                *ngIf="submitted && !fg.controls['password'].valid"
                            >
                                New password is required
                            </small>
                        </div>
                        
                        <input
                            type="submit"
                            value="Reset Password"
                            class="btn btn-primary btn-block"
                        />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
