<div class="background">
 
    <div class="c1">
      <div class="c2">
        <div class="c3">
          <div class="c4">
            <h2>UPDATE CONTACT</h2>
          </div>
          <div class="">
            <form [formGroup]="fm" (submit)="addContact(fm.value)" novalidate>

                <div class="form-group">
                    <p>Id</p>
                    <input
                      type="number"
                      formControlName="id"
                     
                      name="id"
                      placeholder="Ex: 1"
                      class="form-control" required/>
                   
                    <small
                      class="form-text text-danger"
                      *ngIf="submitted && fm.controls['id'].invalid" > Name is required*</small>
                  </div>

              <div class="form-group">
                <p>Name</p>
                <input
                  type="text"
                  formControlName="name"
                 
                  name="name"
                  placeholder="Ex: chandra"
                  class="form-control" required/>
               
                <small
                  class="form-text text-danger"
                  *ngIf="submitted && fm.controls['name'].invalid" > Name is required*</small>
              </div>

              <div class="form-group">
                <p>Category</p>
                <select formControlName="category" name="category" class="form-control" required>
                    <option value="">Select Category</option>
                    <option value="Textile">Textile</option>
                    <option value="Retail">Retail</option>
                    <option value="Software">Software</option>
                    <option value="Pharmaceutical">Pharmaceutical</option>
                    <option value="Automobile">Automobile</option>
                    <option value="Construction">Construction</option>
                    <option value="Electronics">Electronics</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Food and Beverage">Food and Beverage</option>
                    <option value="Finance">Finance</option>
                </select>
                <small class="form-text text-danger" *ngIf="submitted && fm.controls['category'].invalid">Category is required</small>
            </div>
     
              <div class="form-group">
                <p>phone no</p>
                <input
                  type="phone"
                  maxlength="10"
                  formControlName="phoneNumber"
                  required
                  name="phoneNumber"
                  placeholder="ex: 98482233"
                  pattern="[6-9][0-9]{9}"
                  class="form-control"/>
  
                  <small class="form-text text-danger" *ngIf="submitted && fm.get('phoneNumber')?.hasError('pattern')">
                    Please enter a valid 10-digit phone number starting with a digit between 6 and 9.
                  </small>
                  
  
                  <small
                  class="form-text text-danger"
                  *ngIf="submitted && fm.get('phoneNumber')?.hasError('required')"
                >Phone number is required</small>
                <!-- <small
                  class="form-text text-danger"
                  *ngIf="submitted && fm.get('mobile')?.hasError('pattern')"
                >Please enter a valid 10-digit phone number</small> -->
              </div>
     
             
     
              <div class="form-group">
               <p>Email</p>
                <input
                  type="email"
                  formControlName="email"
                  required
                  pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                  name="email"
                  placeholder="ex: chandrasekhar1126@gmail.com"
                  class="form-control"/>
           
                  <small
                  class="form-text text-danger"
                  *ngIf="submitted && fm.get('email')?.hasError('required')"
                >Email is required</small>
                <small
                  class="form-text text-danger"
                  *ngIf="submitted && fm.get('email')?.hasError('email')"
                >Invalid email address</small>
              </div>
              <div class="form-group">
        <p>Country</p>
                <select formControlName="country" name="country" class="form-control" required>
                  <option value="">Select Country</option>
                  <option value="INDIA">India</option>
                  <option value="USA">USA</option>
                  <option value="UK">UK</option>
                  <option value="UAE">UAE</option>
                  <option value="AUSTRALIA">Australia</option>
                  <option value="CHINA">China</option>
                  <option value="RUSSIA">Russia</option>
                </select>
                <small class="form-text text-danger" *ngIf="submitted && fm.controls['country'].invalid">Country is required</small>
              </div>
              
             
               <button type="submit" class="btn btn-primary" >Update Contact</button>
            
              
             </form>
           </div>
         </div>
       </div>
     </div>
    
     <div class="col-12">
      
     </div>

