.container {
    height: 650px;
}
 
input {
    width: 200px;
    height: 30px;
    margin-right: 5%;
}
 
h1 {
    padding-top: 2%;
    margin-left: 30%;
    margin-bottom: 5%;
}
 
h5 {
    margin-right: 20px;
    font-weight: bold;
    margin-top: 5px;
}
 
.form-group {
    display: flex;
    margin-bottom: 2%;
}
 
.btn {
    height: 45px;
}
 
#excel,
#csv {
    margin-left: 2%;
}
 
select{
    width: 150px;
}
#select01{
    margin-right: 20px;
    font-weight: bold;
    margin-top: 5px;
}
#format{
    margin-right: 25px;
}
#pagination{
    margin-top: 2%;
    margin-left: 37%;
}
 